h3 {
    text-align: center;
    font-weight: 300;
}

h4 {
    font-style: italic;
    text-align: center;
    font-weight: 200;
}

.navbar {
	background-color: #232323;
}

h1 {
    color: #232323;
}

.jumbotron {
	color: #232323;
    background-color: #ffffff;
}


.thumbnail {
    border: 0px solid red;
    /*margin: 30px solid green;*/
    padding: 30px;

}


body {
	padding-top: 70px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-brand {
    color: #EEEEEE;
}

.thumbnail>img:hover {
	opacity: 0.1;
}

.overlay-test {
    background: white;
/*    overflow: hidden;
    height: 100%;*/
    z-index: 2;

}



/*testing*/



